:root {
  --dark: #222428;
  --dark-h: #3e4147;
  --light: #fafafa;
  --light-h: #fefefe;
  --primary: #1a5b56;
  --secondary: #80e69e;
  --primary-rgb: 26, 91, 86;
  --secondary-rgb: 128, 230, 158;

  --bs-body-color: var(--dark);
  --text: var(--dark);
  --text-h: var(--dark-h);
  --text-heading: var(--primary);
  --focus-ring: var(--primary-rgb);
  --bs-body-bg: var(--light);
  --bs-navbar-brand-color: var(--dark);
  --bs-nabvar-color: var(--primary);
  --bs-emphasis-color-rgb: rgba(34, 36, 40, 1);
  --bs-font-sans-serif: "DM Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --bs-nav-link-font-size: 16px;
  --bs-navbar-toggler-focus-width: 0.1rem;

  --sans: "DM Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "DM Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --mont: "Montserrat", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/125% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scheme-variable-image {
  filter: brightness(0) saturate(100%) invert(24%) sepia(87%) saturate(377%)
    hue-rotate(126deg) brightness(95%) contrast(87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-color: var(--light);
    --text: var(--light);
    --text-h: var(--light-h);
    --text-heading: var(--secondary);
    --focus-ring: var(--secondary-rgb);
    --bs-body-bg: var(--dark);
    --bs-navbar-brand-color: var(--light);
    --bs-nabvar-color: var(--light);
    --bs-tertiary-bg: #444;
    --bs-emphasis-color-rgb: rgba(250, 250, 250, 1);
    --navlink-decoration-color: var(--secondary);
  }
  .scheme-variable-image {
    filter: brightness(0) saturate(100%) invert(86%) sepia(12%) saturate(1282%)
      hue-rotate(79deg) brightness(94%) contrast(94%);
  }
}

* {
  box-sizing: border-box;
  transition: all ease 300ms;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

.h1 {
  margin-bottom: 1.25rem;
}

p {
  text-wrap: pretty;
}

form {
  background-color: var(--bs-gray-200);
}

.form-control{
  color: var(--dark) !important;
  background-color: var(--light) !important;
  &:focus{
    border-color: var(--text-heading);
    box-shadow: 0 0 0 .25rem rgba(var(--focus-ring), .25);
  }
}

.montserrat {
  font-family: var(--mont);
}

.hero-subtitle {
  letter-spacing: 10%;
  font-size: clamp(10px, 3dvw, 16px);
}

.bg-primary-custom {
  background-color: var(--primary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-primary-custom {
  color: var(--text-heading);
}

.text-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--secondary);
  }
}

.callout {
  padding: 1rem;
  border-left: solid 5px var(--text-heading);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &.callout-primary {
    border-color: var(--bs-primary);
    background-color: rgba(var(--bs-primary-rgb), 0.1);
  }
  &.callout-secondary {
    border-color: var(--bs-secondary);
    background-color: rgba(var(--bs-secondary-rgb), 0.1);
  }
  &.callout-success {
    border-color: var(--bs-success);
    background-color: rgba(var(--bs-success-rgb), 0.1);
  }
}

.navbar {
  min-height: 10dvh;
}

.nav-link {
  &::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--text);
    display: block;
    transform: scaleX(0%);
    transition: transform 0.3s ease;
  }
  &.no-hover-effect::after {
    display: none;
  }
  &:hover::after {
    transform: scaleX(100%);
  }
}

.hmin-10 {
  min-height: 10dvh;
}
.hmin-20 {
  min-height: 20dvh;
}
.hmin-25 {
  min-height: 25dvh;
}
.hmin-30 {
  min-height: 30dvh;
}
.hmin-40 {
  min-height: 40dvh;
}
.hmin-50 {
  min-height: 50dvh;
}
.hmin-60 {
  min-height: 60dvh;
}
.hmin-70 {
  min-height: 70dvh;
}
.hmin-75 {
  min-height: 75dvh;
}
.hmin-80 {
  min-height: 80dvh;
}
.hmin-90 {
  min-height: 90dvh;
}
.hmin-100 {
  min-height: 100dvh;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & img {
    border-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
  }
}

.card-img-top {
  width: 100%;
  height: 25dvh;
  object-fit: cover;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.form-label {
  color: var(--dark);
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.form-control {
  background-color: var(--light);
}

@media screen and (max-width: 767px) {
  .above-fold {
    min-height: 70dvh;
  }
  .hero-logo {
    width: 75%;
    max-width: 300px;
  }
  .ratio-16x9{
    --bs-aspect-ratio: 100%;
  }
}

@media screen and (min-width: 768px) {
  .above-fold {
    min-height: 90dvh;
  }
  .hero-logo {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .above-fold {
    min-height: 90dvh;
  }
  .hero-logo {
    max-width: 90%;
  }
}

@media screen and (min-width: 1921px) {
  .above-fold {
    min-height: 45dvh;
  }
  .hero-logo {
    max-width: 100%;
  }
  .hmin-10 {
    min-height: 5dvh;
  }
  .hmin-20 {
    min-height: 10dvh;
  }
  .hmin-25 {
    min-height: 12.5dvh;
  }
  .hmin-30 {
    min-height: 15dvh;
  }
  .hmin-40 {
    min-height: 20dvh;
  }
  .hmin-50 {
    min-height: 25dvh;
  }
  .hmin-60 {
    min-height: 30dvh;
  }
  .hmin-70 {
    min-height: 35dvh;
  }
  .hmin-75 {
    min-height: 37.5dvh;
  }
  .hmin-80 {
    min-height: 40dvh;
  }
  .hmin-90 {
    min-height: 45dvh;
  }
  .hmin-100 {
    min-height: 50dvh;
  }
}
